<!DOCTYPE html>
<html>
<head>
  <title>Cats</title>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_tag :h1, 'Meow!' %>
  <%= content_tag :div, :id => 'navigation' do %>
    <%= link_to 'Home', '/'  %>
    <%= link_to 'Get random cat', random_cat_path %>
  <% end %>
  <%= yield %>
  <%= content_tag :div, :id => 'footer' do %>
    Meow! is powered by Ruby on Rails
  <% end %>
</body>
</html>
