<!DOCTYPE html>
<html>
<head>
  <title>Meow!</title>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <meta name="robots" content="noindex" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(type = :rss, feed_url(:format => :xml)) %>
</head>
<body class="desktop">
  <%= content_tag :h1, link_to('Meow!', '/') %>
  <% if flash[:message] %>
    <%= content_tag :p, flash[:message], :id => 'flash' %>
  <% end %>
  <%= content_tag :div, :id => 'navigation' do %>
    <%= link_to t('home'), '/'  %>
    |
    <%= link_to t('get_random_cat'), random_cat_path %>
    |
    <% if session[:user] %>
      <% if session[:user][:admin] %>
        <%= link_to 'Admin', users_path %>
        |
      <% end %>
      <% if ! session[:user][:dropbox_user_id] %>
        <%= link_to 'Associate with Dropbox', dropbox_associate_path %>
        |
      <% end %>
      <%= session[:user][:firstname] %> <%= session[:user][:lastname] %>
      <%= link_to t('login'), user_logout_path %>
    <% else %>
      <%= link_to t('login'), user_login_path %>
    <% end %>
  <% end %>
  <%= yield %>
  <%= content_tag :div, :id => 'footer' do %>
    <%= link_to('RSS Feed', feed_path(:format => :xml), :class => "feed")%>
    <br /><br />
    Meow! is powered by Ruby on Rails
  <% end %>
  <%= piwik_tracking_tag %>
</body>
</html>
